
/* animations */

@keyframes slideInUp {

  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.polaroid1-image.slideInUp, .polaroid2-image.slideInUp, .polaroid3-image.slideInUp {
  animation: slideInUp 2s forwards;
}

@keyframes rotate {

  from {
    transform: rotate(0deg);
    opacity: 0;
  }

  to {
    transform: rotate(360deg);
    opacity: 1;
  }

}

.rotate {
  animation: rotate 8s infinite;
}

@keyframes rotate2 {

  from {
    transform: rotate(0deg);
    opacity: 0;
  }

  to {
    transform: rotate(-360deg);
    opacity: 1;
  }

}

.rotate2 {
  animation: rotate2 5s;
}

@keyframes opacity {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}
