@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

.wf-active {

  & body {
    visibility: visible;
  }
}

.wf-inactive {

  & body {
    visibility: visible;
    font-family: Helvetica, Arial, sans-serif;
  }
}

body {
  font-size: var(--font-size-bodycopy);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 120rem;
  width: 88vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.vet {
  font-weight: 800;
}

strong {
  font-weight: 700;
}

.hide {
  display: none;
}

h3 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.5rem;
}

/* header */

.header {
  border-top: 1rem solid var(--honey-flower);
  border-bottom: 2rem solid var(--maya-blue);
  margin-top: 10rem;
  background-image: url(../assets/img/pattern.jpg);
  background-color: var(--pink-lace);
  background-blend-mode: multiply;
}

.header .container {
  display: grid;
  grid-template: 1fr 1fr .4fr/ 1fr 1fr;
  max-height: 40vw;
}

.title {
  z-index: 3;
  position: relative;
  font-size: var(--font-size-title);
  font-family: Oswald, sans-serif;
  font-weight: 700;
  color: var(--pink-lace);
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
}

.subtitle {
  z-index: 2;
  position: relative;
  font-size: var(--font-size-subtitle);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: white;
  background-color: var(--honey-flower);
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
  width: 60vmax;
  height: 10vmax;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: .5vmax;
  margin-top: 9vmax;
}

/*.header-sofia-image-picture {
  height: auto;
  object-fit: cover;
}*/

.header-sofia-image {
  margin-bottom: -.4rem;
  grid-column: 1;
  grid-row: 1 / 4;
  position: relative;
  z-index: 0;
  align-self: flex-end;
  max-width: 32vw;
  object-fit: cover;
  height: auto;
  justify-self: center;
}

.header-family-image {
  position: relative;
  z-index: 1;
  grid-column: 2;
  grid-row: 1 / 3;
  max-width: 32vw;
  height: auto;
}

.autograph-gif {
  position: absolute;
  display: inline-block;
}

/* intro */

.intro .container {
  display: grid;
  grid-template: 2fr 1fr / 1fr 1fr .3fr;
  grid-template-areas:
    'social intro .'
    '. quote .';
}

.header-intro, .intro-highlight, .header-vader {
  font-weight: 700;
}

.intro-text {
  grid-area: intro;
  width: 100%;
  background-color: var(--glitter);
  padding: 5rem 3rem;
  border-bottom: 1rem solid var(--maya-blue);
  position: relative;
  top: -5rem;
}

.quote {
  background-color: rgba(250, 205, 211, .33);
  padding: 5rem 3rem;
  border-left: 1rem solid var(--maya-blue);
  max-width: 50rem;
}

.quote-intro {
  grid-area: quote;
  align-self: flex-end;
}

.intro-highlight {
  color: var(--honey-flower);
}

.social {
  grid-area: social;
  justify-self: center;
  align-self: center;
}

.CTA-social, .godfather-title {
  text-transform: uppercase;
  color: var(--maya-blue);
  font-weight: 700;
}

.cite, .japanese {
  display: block;
  text-transform: uppercase;
  color: var(--maya-blue);
  font-weight: 700;
}

cite{
  margin-top: 2rem;
}

/* clan */

.clan {
  margin-top: 5rem;
}

h2, .japanese, .kritisch-title {
  font-family: Oswald, sans-serif;
  font-size: var(--font-size-smalltitle);
  color: var(--honey-flower);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-subtitle);
}

.carousel {
  display: flex;
  background-color: var(--glitter);
  height: 50rem;
  justify-content: space-around;
  align-items: center;
}

.carousel-slide {
  display: none;
  text-align: center;
}

.carousel-slide-active {
  display: block;
}

/* vader */

.vader {
  margin-top: 5rem;
}


.vader-title {
  line-height: 120%;
}

.vader .container {
  display: grid;
  grid-template-rows: min-content min-content 30rem 25rem min-content;
  grid-gap: 3rem;
  grid-template-areas:
    'vader-image vader-info'
    'article1 article2'
    'article3 article3'
    'quote quote'
    'kritisch .';
}

.vader-info {
  grid-area: vader-info;
  display: flex;
  flex-direction: column;
  align-self: end;
 justify-self: end;
 margin-bottom: 5rem;
}

.vader-image-block {
  grid-area: vader-image;
  margin-bottom: 5rem;
}

.vader-image {
  border-bottom: 1rem solid var(--pink-lace);
  max-width: 25vw;
  height: auto;
}

.godfather1 {
  grid-area: article1;
}

.godfather2 {
  grid-area: article2;
}

.godfather3 {
  grid-area: article3;
  width: 60%;
}

.godfather-beschuldiging {
  padding-top: 5rem;
}

.vader-quote {
  grid-area: quote;
  align-self: center;
  justify-self: left;
  width: 40%;
  margin-left: 10rem;
}

.raspberry-image, .sofia-godfather-part3-image, .bloem-image {
  grid-row: 3;
  grid-column: 2 / 3;
  justify-self: flex-end;
  position: relative;
  top: -2rem;
}

.sofia-godfather-part3-image {
  max-width: 35vw;
  height: auto;
}

.bloem-image {
  position: relative;
  z-index: 1;
  top: 15rem;
  right: -2rem;
}

.raspberry-image {
  position: relative;
  top: 9rem;
  right: 8rem;
}

.polaroid1-image, .polaroid2-image, .polaroid3-image {
  grid-column: 2;
  grid-row: 4;
  justify-self: flex-end;
  max-width: 45vw;
  height: auto;
}

.polaroid1-image {
  position: relative;
  top: 1rem;
}

.polaroid2-image {
  position: relative;
  top: 13rem;
}

.polaroid3-image {
  position: relative;
  top: 27rem;
}

.lick-the-star-image, .marie-image {
  width: 100%;
  object-fit: cover;
  border-bottom: 2rem solid var(--maya-blue);
  position: relative;
  z-index: -1;
}

/* kritisch */

.kritisch {
  position: relative;
  bottom: -10rem;
  z-index: 2;
  grid-area: kritisch;
  min-width: 30rem;
  background-color: var(--glitter);
  padding: 5rem 3rem;
}

.kritisch-title {
  margin-bottom: 2.5rem;
}

/* regi */

.regi .container {
  margin-top: 3vmax;
  display: grid;
  grid-template: repeat(3, min-content) / 1fr 1fr;
  grid-row-gap: 1rem;
  grid-template-areas:
    'title image'
    'p1 image';
}

.regi-title {
  grid-area: title;
}

.regi-text{
  grid-area: p1;
}

.regi{
  margin-bottom: 16rem;
}

.sofia-window-image-container, .bloem4-image-container, .diamant-image-container, .diamant2-image-container, .diamant3-image-container {
  grid-area: image;
  justify-self: flex-end;
}

.sofia-window-image {
  width: 35vmin;
  height: auto;
  border-bottom: 1rem solid var(--maya-blue);
}

.bloem4-image {
  position: relative;
  top: 30rem;
  right: 20rem;
}

.diamant-image {
  position: relative;
  top: -2rem;
  right: 26rem;
}

.diamant2-image {
  position: relative;
  top: 38rem;
  right: 55rem;
}

.diamant3-image {
  position: relative;
  top: 43rem;
  right: 48rem;
}

.marie-image {
  border-bottom: 2rem solid var(--pink-lace);
}

/* eye */

.eye {
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.eye .container {
  display: grid;
  grid-template: repeat(7, min-content) / 1fr 1fr;
  grid-gap: 8rem 3rem;
  grid-template-areas:
    'image title'
    'image content1'
    'image content1'
    'image content1'
    'quote quote'
    'video content2'
    'video content2';
  margin-bottom: 10rem;
}

.eye-title {
  grid-area: title;
}

.eye-content1 {
  grid-area: content1;
}

.eye-content2 {
  grid-area: content2;
}

.sofia-bling-container, .louboutin-image-container, .louboutin2-image-container, .zonnebril-image-container {
  grid-area: image;
}

/*.sofia-bling-container, sofia-bling-image{
background-color: red;
}*/

.sofia-bling-image {
  width: 80%;
  height: auto;
  border-bottom: 1rem solid var(--maya-blue);
}

.louboutin-image {
  position: relative;
  top: 58rem;
  left: 35rem;
}

.louboutin2-image {
  position: relative;
  top: 3rem;
  left: -5rem;
}

.zonnebril-image {
  position: relative;
  top: 50rem;
  left: -4rem;
}

.eye-quote {
  grid-area: quote;
  margin-left: 20rem;
  width: 50%;
}

.video {
  background-color: grey;
  grid-area: video;
  width: 100%;
}

/* slavery */

.slavery {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.slavery .container {
  display: grid;
  grid-template: 1fr 3fr / 1fr 1fr;
  grid-gap: 3rem;
  grid-template-areas:
    'title .'
    'p1 p2';
}

.slavery-p:nth-child(n + 1) {
  grid-area: p1;
}

.slavery-p:nth-child(n + 3) {
  grid-area: p2;
}

/* permission */

.permission {
  background-color: var(--glitter);
}

.oscar-image {
  border-bottom: 1rem solid var(--pink-lace);
}

.permission .container {
  padding-top: 5rem;
  display: grid;
  grid-row-gap: 3rem;
  grid-template: 1fr .5fr 1fr / 1fr 1fr;
  grid-template-areas:
    'image content'
    'content2 content2'
    'polaroid quote';
}

.permission-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.permission-content2 {
  grid-area: content2;
  max-width: 60%;
  align-self: center;
}

.oscar-image-container, .bloem2-image-container {
  grid-area: image;
}

.bloem2-image {
  position: relative;
  top: 35rem;
  left: 25rem;
  transform: rotate(90deg);
}

.permission-quote {
  grid-area: quote;
  align-self: center;
  justify-self: flex-end;
}

.polaroid4-image-container, .bloem3-image-container {
  grid-area: polaroid;
  z-index: 2;
}

.bloem3-image {
  position: relative;
  top: 26rem;
  left: 38rem;
  z-index: 1;
}

/* tokio */

.tokio {
  margin-top: 5rem;
}

.tokio .container {
  display: grid;
  grid-template: repeat(5, min-content) / 1fr 1fr;
  grid-column-gap: 3rem;
  align-items: flex-end;
  grid-template-areas:
    'tokio .'
    'title title'
    'p1 .'
    'p2 image'
    'p3 image';
}

.japanese {
  color: var(--maya-blue);
  grid-area: tokio;
}

.tokio-title {
  grid-area: title;
}

.tokio-p:nth-child(3) {
  grid-area: p1;
}

.tokio-p:nth-child(4) {
  grid-area: p2;
}

.tokio-p:nth-child(5) {
  grid-area: p3;
}

.japan-image-container {
  grid-area: image;
  justify-self: flex-end;
}

/* quiz */

.quiz {
  margin-top: 5rem;
}

.quizcontent {
  margin-top: 3rem;
  background-color: var(--glitter);
  height: 40rem;
}

.content-react {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */

.footer {
  margin-top: 5rem;
  background-color: var(--pink-lace);
}

.footer .container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15%;
  grid-row-gap: 4rem;
  grid-template-areas:
    'hoogte lees'
    'end end';
}

.lees{
  grid-area: lees;
  max-width: 90%;
  justify-self: end;
}

.hoogte-title, .lees-title {
  font-size: var(--font-size-smalltitle);
  margin-bottom: 4rem;
}

/* OPMAAK nieuwsbrief form */

.nieuwsletter-submit-form {
  margin-top: 2rem;
  width: 96%;
}

.input-nieuwsbrief {
  position: relative;
  margin-top: 2rem;
  padding: .5rem;
  display: flex;
  align-items: center;
  border-radius: none;
  padding-left: 1%;
  height: 4.8rem;
  background-color: var(--glitter);

  & input[type=email] {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--darkblue);
      -webkit-appearance: none; /* ios buttons fix */ /*stylelint-disable-line*/
    appearance: none;
    height: 100%;
    width: 98%;
    background-color: var(--glitter);
    border: none;
    padding-left: 1rem;

    &:focus {
      outline: none;
    }
  }
}

.button--arrow {
  border: none;
  color: transparent;
  width: 3.7rem;
  height: 3.7rem;
  padding: .2rem;
  appearance: none;
  background: url(../assets/img/icons/Arrow-right.svg) no-repeat center;
  background-size: 33%;
  background-color: var(--maya-blue);
  border-radius: none;
    -webkit-appearance: none; /* ios buttons fix */ /*stylelint-disable-line*/
  will-change: trandform, opacity;
  transition: all .3s ease;

  &:focus {
    outline: none;
    opacity: .6;
  }

  &:hover {
    background-size: 45%;
    background-color: var(--darkblue);
  }
}

.hoogte {
  grid-area: hoogte;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.end {
  grid-area: end;
  border-top: .5rem solid var(--maya-blue);
  display: flex;
  justify-content: space-between;
}

.end-image, .end-p {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
