@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: var(--font-size-bodycopy);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.hide {
  display: none;
}

/* header */

.header {
  border-top: 1rem solid var(--honey-flower);
  border-bottom: 2rem solid var(--maya-blue);
  margin-top: 10rem;
  max-height: 40vw;
  background-image: url(../assets/img/pattern.jpg);
  background-color: var(--pink-lace);
  background-blend-mode: multiply;
  display: grid;
  grid-template: 1fr 1fr .4fr/ 1fr 1fr;
}

.title {
  z-index: 3;
  position: relative;
  font-size: var(--font-size-title);
  font-family: Oswald, sans-serif;
  font-weight: bold;
  color: var(--pink-lace);
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
}

.subtitle {
  z-index: 2;
  position: relative;
  font-size: var(--font-size-subtitle);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  background-color: var(--honey-flower);
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
  width: 60vmax;
  height: 10vmax;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: .5vmax;
  margin-top: 8vmax;
}

.header-sofia-image {
  grid-column: 1;
  grid-row: 1 / 4;
  position: relative;
  z-index: 0;
  align-self: flex-end;
  max-width: 32vw;
  height: auto;
  justify-self: center;
}

.header-family-image {
  position: relative;
  z-index: 1;
  grid-column: 2;
  grid-row: 1 / 3;
  max-width: 32vw;
  height: auto;
}

/* intro */

.header-intro, .intro-highlight {
  font-weight: bold;
}

.intro-text {
  width: 50vmax;
  background-color: var(--glitter);
  padding: 5rem 3rem;
  border-bottom: 1rem solid var(--maya-blue);
  position: relative;
  top: -5rem;
}

.intro-highlight {
  color: var(--honey-flower);
}

.CTA-social {
  text-transform: uppercase;
  color: var(--maya-blue);
}
