@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-size: var(--font-size-bodycopy);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 140rem;
  width: 90vw;
  margin: 0 auto;
}

.hide {
  display: none;
}

strong {
  font-weight: bold;
}

/* header */

.header {
  border-top: 1rem solid var(--honey-flower);
  border-bottom: 2rem solid var(--maya-blue);
  margin-top: 10rem;
  background-image: url(../assets/img/pattern.jpg);
  background-color: var(--pink-lace);
  background-blend-mode: multiply;
}

.header .container {
  display: grid;
  grid-template: 1fr 1fr .4fr/ 1fr 1fr;
  max-height: 40vw;
}

.title {
  z-index: 3;
  position: relative;
  font-size: var(--font-size-title);
  font-family: Oswald, sans-serif;
  font-weight: bold;
  color: var(--pink-lace);
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
}

.subtitle {
  z-index: 2;
  position: relative;
  font-size: var(--font-size-subtitle);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  background-color: var(--honey-flower);
  grid-row: 2;
  grid-column: 1 / 3;
  justify-self: center;
  width: 60vmax;
  height: 10vmax;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: .5vmax;
  margin-top: 9vmax;
}

.header-sofia-image {
  grid-column: 1;
  grid-row: 1 / 4;
  position: relative;
  z-index: 0;
  align-self: flex-end;
  max-width: 32vw;
  height: auto;
  justify-self: center;
}

.header-family-image {
  position: relative;
  z-index: 1;
  grid-column: 2;
  grid-row: 1 / 3;
  max-width: 32vw;
  height: auto;
}

/* intro */

.intro .container {
  display: grid;
  grid-template: 2fr 1fr / 1fr 1fr .3fr;
  grid-template-areas:
    'social intro .'
    '. quote .';
}

.header-intro, .intro-highlight, .header-vader {
  font-weight: bold;
}

.intro-text {
  grid-area: intro;
  width: 50vmax;
  background-color: var(--glitter);
  padding: 5rem 3rem;
  border-bottom: 1rem solid var(--maya-blue);
  position: relative;
  top: -5rem;
}

.quote {
  width: 40vmax;
  background-color: rgba(250, 205, 211, .33);
  padding: 5rem 3rem;
  border-left: 1rem solid var(--maya-blue);
}

.quote-intro {
  grid-area: quote;
  align-self: flex-end;
}

.intro-highlight {
  color: var(--honey-flower);
}

.social {
  grid-area: social;
  justify-self: center;
  align-self: center;
}

.CTA-social, .godfather-title {
  text-transform: uppercase;
  color: var(--maya-blue);
}

.cite {
  display: block;
  text-transform: uppercase;
  color: var(--honey-flower);
  font-weight: bold;
}

/* clan */

.clan-title, .vader-title, .kritisch-title {
  font-size: var(--font-size-subtitle);
  color: var(--honey-flower);
}

/* vader */

.vader .container {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas:
    'vader-image vader-info'
    'vader-image vader-info'
    'vader-image vader-info'
    'article1 article2'
    'article3 article3'
    'quote quote'
    'kritisch .'
    'kritisch .'
    'kritisch .';
}

.vader-info {
  grid-area: vader-info;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vader-image-block {
  grid-area: vader-image;
  align-self: flex-end;
}

.vader-image {
  border-bottom: 1rem solid var(--pink-lace);
  max-width: 25vw;
  height: auto;
}

.godfather1 {
  grid-area: article1;
}

.godfather2 {
  grid-area: article2;
}

.godfather3 {
  grid-area: article3;
  width: 51vmax;
}

.godfather-beschuldiging {
  margin-top: 5vmax;
}

.vader-quote {
  grid-area: quote;
  align-self: center;
  justify-self: center;
  margin-right: 30vmax;
}

.raspberry-image, .sofia-godfather-part3-image, .bloem-image {
  grid-row: 5 / 7;
  grid-column: 2 / 3;
  justify-self: flex-end;
}

.sofia-godfather-part3-image {
  max-width: 35vw;
  height: auto;
}

.bloem-image {
  position: relative;
  top: 20rem;
  right: -2rem;
}

.raspberry-image {
  position: relative;
  top: 9rem;
  right: 8rem;
}

.polaroid1-image, .polaroid2-image, .polaroid3-image {
  grid-column: 2;
  justify-self: flex-end;
}

.polaroid1-image {
  grid-row: 6 / 9;
}

.polaroid2-image {
  grid-row: 7 / 9;
}

.polaroid3-image {
  grid-row: 8 / 9;
}

.lick-the-star-image {
  grid-area: lick;
  width: 100%;
  object-fit: cover;
}

/* kritisch */

.kritisch {
  position: relative;
  z-index: 2;
  grid-area: kritisch;
  width: 30vmax;
  background-color: var(--glitter);
  padding: 5rem 3rem;
}
